body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    background-color: black;
    font-size: 16px;
}

#container-main {
    width: 586px;
    height: 960px;
    background-color:black;
}


#container-header {
    display: block;
    margin: auto;
    margin-top: 2%;
    width: 550px;
    height: 260px;
    background-color: #6943FF;
    padding: 2px;
    box-sizing: border-box;
}

#unit-number {
    display: block;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 117px;
    height: 83px;
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: 24.393px; /* 42.057% */
    border: 1px solid white;
    background-color: #6943FF;
    border-radius: 4px;
}

::placeholder {
    color: white;
}

#convert-btn {
    width: 117px;
    height: 42px;
    border-radius: 5px;
    background: #FFF;
    padding: 5px;
}

#container-units {
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;
    width: 552px;
    height: 326px;  
    background-color: #1F2937;
    color: white;
    padding: 2px;
    box-sizing: border-box;
}


h1 {
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; /* 135.714% */
    letter-spacing: -0.84px;
    margin-top: 26px;
}

h2 {
    color: #CCC1FF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
    padding-top: 18px;
}

p {
    color: #FFF;
    text-align: center;
    /* text-sm/leading-5/font-normal */
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

#length-div, #volume-div, #mass-div {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 88px;
    background-color: #273549;
    border-radius: 4.681px 0px 0px 0px;
}


